<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.pengjie.second">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".coordinator.TestCoordinatorLayout"/>
        <activity android:name=".coordinator.bottombar.BottomBarActivity"/>
        <activity android:name=".customview.TestCustomViewActivity"/>
        <activity android:name=".customview.CustomTitleViewActivity"/>
        <activity android:name=".customview.CustomImageViewActivity"/>
        <activity android:name=".customview.ProgressViewActivity"/>
        <activity android:name=".featurehighlight.TestFeatureHighlightActivity"/>
        <activity android:name=".coordinator.AppBarLayoutActivity"/>
        <activity android:name=".customview.SimpleViewGroupActivity"/>
        <activity android:name=".menu.TestMenuActivity"/>
        <activity android:name=".material.TestMaterialFeatureHighlightActivity"/>
        <activity android:name=".customview.XfermodeActivity"/>
        <activity android:name=".customview.ShaderActivity"/>
        <activity android:name=".customview.PathEffectActivity"/>
        <activity android:name=".customview.ColorActivity"/>
        <activity android:name=".popupwindow.TestPopupWindowActivity"/>
        <activity android:name=".dialog.TestDialogActivity"/>
        <activity android:name=".mediaplayer.TestMediaPlayerActivity"/>
        <activity android:name=".mediaplayer.simpleaudio.SimpleAudioPlayerActivity"/>
        <activity android:name=".handler.TestHandlerActivity"/>
        <activity android:name=".handler.SelfDefinedHandlerThreadActivity"/>
        <activity android:name=".navigationdrawer.TestNavigationDrawerActivity"/>
        <activity android:name=".navigationdrawer.SimpleNavigationDrawerActivity"/>
        <activity android:name=".viewpager.TestViewPagerActivity"/>
        <activity android:name=".recyclerview.TestRecyclerViewActivity"/>
        <activity android:name=".fireintent.FireIntentActivity"/>
        <activity android:name=".TransparentActivity"/>
        <activity android:name=".launchmode.TestHandleIntentActivity" android:exported="true">
            <intent-filter android:label="I am handling">
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="plain/text"/>
            </intent-filter>
        </activity>
        <activity android:name=".drawable.TestDrawableActivity"/>
        <activity android:name=".materialdesign.TestMaterialDesignActivity"/>
        <activity android:name=".settings.SettingsActivity"/>
        <activity android:name=".progressbar.TestProgressBarActivity"/>

    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
</manifest>